/* Biến CSS (cho runtime) */
:root {
  --primary: #fe2c55;
  --white: #ffffff;
  --black: #000000;
  --primary1: #ffbe33;
  --primary2: #222831;
  --textCol: #1f1f1f;
}

/* Biến SCSS (cho compile-time) */
$primary: #fe2c55;
$white: #ffffff;
$black: #000000;
$primary1: #ffbe33;
$primary2: #222831;
$textCol: #1f1f1f;


//Responsive
$breakpoint-xl: 1300px;
$breakpoint-lg: 1200px;
$breakpoint-md: 992px;
$breakpoint-sm: 767px;
$breakpoint-xs: 576px;
$breakpoint-xxs: 430px;
$breakpoint-mini: 376px;