@import '../../../components/GlobalStyles/variables';
@import '../../../components/GlobalStyles/mixins';

.offer_section {
  position: relative;
  padding-top: 45px;

  .box {
    display: flex;
    align-items: center;
    margin-top: 45px;
    border-radius: 5px;
    padding: 20px 15px;
    background-color: $primary2;
    color: $white;

    .img-box {
      width: 175px;
      min-width: 175px;
      height: 175px;
      margin-right: 15px;
      position: relative;
      transition: all .1.5s;
      border-radius: 100%;
      border: 5px solid $primary1;
      overflow: hidden;

      img {
        width: 100%;
        transition: all .2s;
      }
    }

    .detail-box {

      h5 {
        @include second-font();
        font-size: 24px;
        margin: 0;
      }

      h6 {
        @include second-font();
        margin: 10px 0;

        span {
          font-size: 2.5rem;
          font-weight: bold
        }
      }

      p {}

      a {
        @include hero_btn($primary1, $white, 10px, 30px, 45px);

        svg {
          width: 20px;
          height: auto;
          margin-left: 5px;
          fill: $white;
        }
      }
    }

    &:hover {
      .img-box {

        img {
          transform: scale(1.1);
        }
      }
    }
  }

}