@import '../../../../GlobalStyles/variables';
@import '../../../../GlobalStyles/mixins';

.navbar-nav {
    padding-left: 18%;

    .nav-item {
        .nav-link {
            padding: 5px 20px;
            color: $white;
            text-align: center;
            text-transform: uppercase;
            border-radius: 5px;
            transition: all 0.3s;
        }

        &:hover,
        &.active {
            .nav-link {
                color: $primary1;
            }
        }
    }
}

@media (max-width: $breakpoint-md) {
    .custom_nav-container .navbar-nav .nav-item .nav-link {
        padding: 5px 25px;
        margin: 5px 0;
    }
}
